.App{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}
.header{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.cardsContainer{
    display: flex;
    flex-wrap: wrap;
}
