.super-mario {
    width: 200px;
    position: absolute;
    right: 700px;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    right: 800px;
    top: 380px;
    z-index: 2;
  }
  
  .baloon {
      position: absolute;
      right: 380px;
      top: 20px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 55px;
    right: 420px;
    z-index: 1;
  }
  
  .bowser {
    width: 350px;
    position: absolute;
    right: 80px;
    top: 150px;
  }